<template>
  <main class="q-pa-lg row justify-center parkings">
    <div class="q-pb-md">
      <q-btn color="primary" label="Add parking" @click="addParking" />
    </div>
    <parking-entry
      v-for="(parking, i) in parkings"
      :key="parking.UIDParking"
      :parking="parking"
      :opened="i === 0"
    />
  </main>
</template>

<script>
import ParkingEntry from 'components/ParkingEntry.vue'

export default {
  components: {
    ParkingEntry,
  },
  data() {
    return {
      parkings: [],
    }
  },
  mounted: async function () {
    const parkingsRef = this.$db.collection('ListOfParkings')
    const parkings = await parkingsRef.get()

    try {
      for (const parking of parkings.docs) {
        const p = parking.data()

        p.id = parking.id
        p.editing = false

        p.zones = {}

        const zone = await parkingsRef
          .doc(parking.id)
          .collection('UIDlistaZona')
          .get()

        for (const z of zone.docs) {
          p.zones[z.id] = z.data()
        }

        this.parkings.push(p)
      }
    } catch (err) {
      console.error(err)
    }
  },
  methods: {
    addParking() {
      this.parkings.push({
        editing: true,
        location: {
          latitude: 0,
          longitude: 0,
        },
        zones: {},
      })
    },
  },
}
</script>

<style>
.parkings {
  display: flex;
  flex-direction: column;
}
</style>
