<template>
  <!--testiranje google maps funkcionalnosti-->
  <q-page>
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-2">
            <q-img
              class="text-center"
              src="assets\parking-spot-system-ikona.png"
            />
          </div>

          <div class="col-10 text-center">
            <div class="text-h7">Locations of Parkings</div>
            <div class="text-h5 text-grey">
              Locations of local parkings in your town.
            </div>
          </div>
        </div>
      </q-card-section>
      <q-card-section v-if="center !== null">
        <GmapMap
          :center="center"
          :zoom="15"
          map-type-id="terrain"
          style="width: 100%; height: 700px"
        >
          <GmapInfoWindow
            :options="infoOptions"
            :position="infoWindowPosition"
            :opened="infoWindowOpen"
            @closeclick="infoWindowOpen = false"
          >
            <span v-html="infoWindowContent"></span>
          </GmapInfoWindow>
          <GmapMarker
            v-for="(marker, index) in markers"
            :key="index"
            :position="marker.position"
            :clickable="true"
            @click="showInfoWindow(marker, index)"
          />
        </GmapMap>
      </q-card-section>
    </q-card>
    <q-dialog
      v-if="openParkingDescriptionDialog"
      v-model="openParkingDescriptionDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">{{ currentParking.name }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          {{ currentParking.desc }}
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="openParkingDescriptionDialog = false"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  name: 'ParkingLocation',
  data() {
    return {
      infoWindowContent: '',
      infoWindowPosition: null,
      infoWindowOpen: false,
      currentMarkerIndex: null, // 0
      // optional: offset infowindow so it visually sits nicely on
      // top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      center: { lat: 45.32551877792499, lng: 14.447091442327556 },
      markers: [],
      listenerDispose: null,
      currentOpenMarker: null,
      currentID: null,
      openParkingDescriptionDialog: false,
    }
  },
  computed: {
    currentParking: function () {
      if (this.currentID === null) return null
      return this.markers.find((marker) => marker.id === this.currentID)
    },
  },
  mounted() {
    const vm = this

    window.openDescription = function (id) {
      vm.openDescription(id)
    }

    this.listenerDispose = this.$db
      .collection('ListOfParkings')
      .onSnapshot((snapshot) => {
        snapshot.docChanges().forEach((change) => {
          const doc = change.doc
          const id = doc.id
          const data = doc.data()

          if (
            data.location.latitude !== null &&
            data.location.longitude !== null
          ) {
            const marker = this.firebaseToMarker(id, data)

            const index = this.markers.findIndex((marker) => marker.id === id)
            if (index < 0) {
              // novosvoreni marker
              this.markers.push(marker)
            } else {
              // updatean marker
              this.markers.splice(index, 1, marker)
            }

            if (this.markers.lenght === 1) {
              this.center = marker.position
            }
          }
          // this.setInfoWindowContent(id)
        })
      })
  },
  destroyed() {
    if (this.listenerDispose !== null) {
      this.listenerDispose()
    }
  },
  methods: {
    firebaseToMarker(id, data) {
      return {
        id: id,
        name: data.name,
        position: {
          lat: data.location.latitude,
          lng: data.location.longitude,
        },
        desc: data.desc,
        image: data.image,
      }
    },
    setInfoWindowContent(id) {
      this.currentID = id

      if (this.currentOpenMarker !== null && this.currentOpenMarker.id === id) {
        const index = this.markers.findIndex((parking) => parking.id === id)

        if (index >= 0) {
          let windowContent =
            '<strong>' + this.markers[index].name + '</strong>'
          if (this.markers[index].image !== null) {
            windowContent =
              windowContent +
              '<br> <img height="300" width="300" src="' +
              this.markers[index].image +
              '" alt="Slika parkinga">'
          }
          windowContent =
            windowContent +
            '<br><button onclick="openDescription(\'' +
            this.markers[index].desc +
            '\')">Description</button>'

          this.infoWindowContent = windowContent
        } else {
          this.infoWindowContent = '<p>Nema sadržaja.</p>'
        }
      }
    },
    showInfoWindow(marker, index) {
      this.currentOpenMarker = marker
      this.infoWindowPosition = marker.position
      // this.infoWindowContent = marker.infoText
      this.setInfoWindowContent(marker.id)
      // check if its the same marker that was selected if yes toggle
      if (this.currentMarkerIndex === index) {
        this.infoWindowOpen = !this.infoWindowOpen
      } else {
        // if different marker set infowindow to open and reset current marker index
        this.infoWindowOpen = true
        this.currentMarkerIndex = index
      }
    },
    openDescription(id) {
      if (this.currentParking !== null) {
        this.openParkingDescriptionDialog = true
      }
    },
  },
}
</script>
