<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 500px">
      <q-table
        v-if="isMounted"
        title="Karte"
        :data="tickets"
        :columns="columns"
        row-key="UIDTicket"
        flat
      >
        <template #top>
          <q-btn color="primary" label="Kupi kartu" @click="onNewRow" />
        </template>
        <template #body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name === 'actions'">
              <q-btn
                dense
                color="primary"
                icon="edit"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="primary"
                icon="delete"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{ props.row[props.col.field] }}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-if="openDialog" v-model="openDialog">
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">Karte</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Parking"
            v-model="ticket.Parking"
            :error="!ticket.Parking || ticket.Parking.length === 0"
            error-message="Dodajte parking."
            label="Parking"
          />
          <q-input
            ref="ParkingZone"
            v-model="ticket.ParkingZone"
            :error="!ticket.ParkingZone || ticket.ParkingZone === 0"
            error-message="Dodajte parkirnu zonu"
          />
          <q-input
            ref="Price"
            v-model="ticket.Price"
            :error="!ticket.Price || ticket.Price === 0"
            error-message="Odaberite cijenu"
          />
        </q-card-section>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn color="primary" label="OK" @click="onOKClick" />
            <q-btn color="primary" label="Cancel" @click="onCancelClick" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'Ticket',
  data() {
    return {
      openDialog: false,
      ticket: null,
      ticketModel: {
        UIDTicket: null,
        Parking: null,
        ParkingZone: null,
        Price: null,
      },
      isMounted: false,
      tickets: [],
      columns: [
        {
          name: 'parking',
          label: 'Parking',
          align: 'left',
          field: 'Parking',
          sortable: true,
        },
        {
          name: 'parkingZone',
          label: 'Parkirna zona',
          align: 'left',
          field: 'ParkingZone',
          sortable: true,
        },
        {
          name: 'price',
          label: 'Cijena',
          align: 'left',
          field: 'Price',
          sortable: true,
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'left',
          field: 'null',
          sortable: false,
        },
      ],
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('Ticket')
    collectionRef.get().then((rows) => {
      rows.forEach((row) => {
        this.tickets.push(row.data())
      })
      this.isMounted = true
    })
  },
  methods: {
    onNewRow() {
      this.ticket = JSON.parse(JSON.stringify(this.ticketModel))
      this.openDialog = true
    },
    onOKClick() {
      if (
        !this.$refs.Parking.hasError &&
        !this.$refs.ParkingZone.hasError &&
        !this.$refs.Price.hasError
      ) {
        const collectionRef = this.$db.collection('Ticket')
        if (this.ticket.UIDTicket === null) {
          collectionRef
            .add(this.ticket)
            .then((doc) => {
              this.ticket.UIDTicket = doc.id
              var docRef = this.$db.collection('Ticket').doc(doc.id)
              docRef
                .update({ UIDTicket: doc.id })
                .then((response) => {
                  this.ticket.UIDTicket = doc.id
                  this.tickets.push(this.ticket)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          var docRef = this.$db.collection('Ticket').doc(this.ticket.UIDTicket)
          docRef
            .set(this.ticket)
            .then((response) => {
              const ticket = this.tickets.find(
                (ticket) => ticket.UIDTicket === this.ticket.UIDTicket
              )
              if (ticket) {
                for (const attributeName in this.ticket) {
                  ticket[attributeName] = JSON.parse(
                    JSON.stringify(this.ticket[attributeName])
                  )
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onCancelClick() {
      this.openDialog = false
    },
    onUpdateRow(ticket) {
      console.log(ticket)
      this.ticket = JSON.parse(JSON.stringify(this.ticketModel))
      for (const attributeName in this.ticket) {
        this.ticket[attributeName] = JSON.parse(
          JSON.stringify(ticket[attributeName])
        )
      }
      this.openDialog = true
    },
    onDeleteRow(row) {
      this.$q
        .dialog({
          title: 'Delete',
          message: 'Confirm deletion.',
          ok: true,
          cancel: true,
        })
        .onOk(() => {
          const docRef = this.$db.collection('Ticket').doc(row.UIDTicket)
          docRef
            .delete()
            .then(() => {
              const index = this.tickets.findIndex(
                (t) => t.UIDTicket === row.UIDTicket
              )
              if (index >= 0) {
                this.tickets.splice(index, 1)
              }
            })
            .catch((error) => {
              console.error('Error removing document: ', error)
            })
        })
    },
  },
}
</script>
