<template>
  <div class="q-pa-lg row justify-center">
    <div class="col" style="max-width: 400px">
      <q-form @submit="onLogin">
        <q-card>
          <q-card-section>
            <div class="q-gutter-md">
              <q-input
                v-model="email"
                filled
                type="email"
                label="Your email *"
                hint="Email to login"
                lazy-rules:rules="[ val => emailPattern.test(val) || 'Please type in a valid email']"
              />
              <q-input
                v-model="password"
                filled
                type="password"
                label="Password *"
                lazy-rules:rules="[ val => val && val.lenght > 0 || 'Please type in a password']"
              />
            </div>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn label="Login" type="Submit" color="primary" />
          </q-card-actions>
        </q-card>
      </q-form>
    </div>
  </div>
</template>

<script>
import Roles from '../../lib/roles'

export default {
  name: 'LoginIndex',
  data() {
    return {
      emailPattern: /^(?=[a-zA-z0-9@._%+-]{6,256}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      email: null,
      password: null,
    }
  },
  async mounted() {
    if (await this.$user.isLoggedIn()) {
      if ((await this.$user.getRole()) === Roles.role_admin) {
        this.$router.push('administration')
      } else {
        this.$router.push('/')
      }
    }
  },
  methods: {
    async onLogin() {
      this.$auth
        .signInWithEmailAndPassword(this.email, this.password)
        .then((response) => {
          this.$user.getRole().then((role) => {
            if (role === Roles.role_admin) {
              this.$router.push('administration')
              console.log(response)
            } else {
              this.$router.push('/')
            }
          })
        })
        .catch((error) => {
          console.log(error)
          this.$q.notify({
            type: 'negative',
            message: 'Login failed.',
          })
        })
    },
  },
}
</script>
