<template>
  <line-chart
    :chart-data="chartData"
    :options="options"
    :update="chartUpdate"
  />
</template>

<script>
import LineChart from 'components/LineChart'

export default {
  props: {
    parking: {
      type: String,
      require: true,
    },
  },
  components: {
    LineChart,
  },
  data() {
    return {
      chartData: {
        labels: [],
        datasets: [
          {
            label: 'Visits',
            backgroundColor: '#FFC55D',
            data: [],
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
      listenerDispose: null,
      chartUpdate: 0,
    }
  },
  mounted() {
    this.listenerDispose = this.$db
      .collection('ListOfParkings')
      .doc(this.parking)
      .collection('Visits')
      .orderBy('dateTime')
      .onSnapshot((snapshot) => {
        snapshot.docChanges().forEach((change) => {
          const doc = change.doc.data()
          if (doc.dateTime != null && doc.nbOfTickets != null) {
            const date = new Date(0)
            date.setSeconds(doc.dateTime.seconds)

            const localeDateString = date.toLocaleDateString()
            const localeTimeString = date.toLocaleTimeString()
            this.chartData.labels.push(
              localeDateString + '[' + localeTimeString + ']'
            )
            this.chartData.datasets[0].data.push(doc.nbOfTickets)
          }
        })
        this.chartUpdate++
      })
  },
  methods: {
    closeReadings() {
      if (this.listenerDispose !== null) {
        this.listenerDispose()
      }
    },
  },
}
</script>
