<template>
  <polar-area-chart
    :update="chartUpdate"
    :chart-data="chartData"
    :options="options"
  />
</template>

<script>
import PolarAreaChart from 'components/PolarAreaChart'

export default {
  props: {
    parking: {
      type: String,
      require: true,
    },
  },
  components: {
    PolarAreaChart,
  },
  data() {
    return {
      chartData: {
        labels: ['Zona 1','Zona 2','Zona 3'],
        datasets: [
          {
            label: 'Popunjenost po zonama',
            backgroundColor: ['#34ABEC', '#4EFF74', '#5C6DFF'],
            data: [],
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
      chartUpdate: 0,
    }
  },
  mounted() {
    this.$db
      .collection('ListOfParkings')
      .doc(this.parking)
      .collection('Zones')
      .onSnapshot((snapshot) => {
        snapshot.docChanges().forEach(async (change) => {
          try{
              const doc = await change.doc.data()
              this.chartData.datasets[0].data.push(doc.populated)
            }catch(err){
              console.error(err)
              }
            //this.chartData.datasets[0].data.push(doc.name)
            //this.chartData.datasets[1].data.push(doc.populated)
            
        })
        this.chartUpdate++
      })
  },
  /*methods: {
    closeReadings() {
      if (this.listenerDispose !== null) {
        this.listenerDispose()
      }
    },
  },*/
}
</script>
