<template>
  <q-expansion-item
    v-if="!deleted"
    group="parking"
    :label="data.name || data.id || '[New Parking]'"
    :default-opened="opened"
    header-class="bg-grey text-bold"
    dense
  >
    <div class="parking">
      <div class="actions">
        <q-btn
          dense
          color="primary"
          :icon="data.editing ? 'done' : 'edit'"
          @click="toggleEdit"
        />
        <q-btn dense color="primary" icon="delete" @click="deleteParking" />
      </div>
      <q-img class="image" :src="data.image" :ratio="1" spinner-color="white" />
      <div
        class="info"
        :class="{
          edit: data.editing,
        }"
      >
        <q-input
          v-model="data.name"
          class="name"
          :readonly="!data.editing"
          dense
          label="Name"
        />
        <q-input
          v-model="data.desc"
          class="desc"
          :readonly="!data.editing"
          dense
          label="Description"
        />
        <q-input
          v-model="data.location.latitude"
          :readonly="!data.editing"
          type="number"
          dense
          label="Latitude"
        />
        <q-input
          v-model="data.location.longitude"
          :readonly="!data.editing"
          type="number"
          dense
          label="Longitude"
        />
        <q-btn class="visits" flat @click="showVisits = !showVisits">
          Show visits
        </q-btn>
        <q-btn
          class="population"
          flat
          @click="showPopulation = !showPopulation"
        >
          Show population
        </q-btn>
        <q-input v-model="data.image" class="url" dense label="Image URL" />
      </div>
      <div class="zones">
        <q-list>
          <q-item v-for="(z, id) in data.zones" :key="id" clickable v-ripple>
            <q-item-section>
              <q-item-label>Name: {{ z.name || id }}</q-item-label>
              <q-item-label caption>Cost: {{ z.cost }}</q-item-label>
            </q-item-section>

            <q-item-section v-if="data.editing" side>
              <q-icon name="clear" color="red" @click="removeZone(id)" />
            </q-item-section>
          </q-item>
          <q-item v-if="data.editing && newZoneInfo">
            <q-item-section>
              <q-input v-model="newZoneInfo.name" dense label="Name" />
            </q-item-section>

            <q-item-section>
              <q-input v-model="newZoneInfo.cost" dense label="Cost" />
            </q-item-section>

            <q-item-section side>
              <q-icon name="done" color="green" @click="finishZoneCreate" />
            </q-item-section>
          </q-item>
        </q-list>
        <q-btn
          v-if="data.editing && !newZoneInfo"
          color="primary"
          label="Add a zone"
          @click="createZone"
        />
      </div>
    </div>
    <q-dialog v-if="showVisits" v-model="showVisits" full-width full-height>
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Graph which shows amount of bought tickets per day
            <div class="text-subtitle2">Parking: {{ data.name }}</div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <parking-visits :key="data.id" :parking="data.id" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="OK" @click="showVisits = !showVisits" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-if="showPopulation"
      v-model="showPopulation"
      full-width
      full-height
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Graph which shows population of a parking
            <div class="text-subtitle2">Parking: {{ data.name }}</div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <parking-population :key="data.id" :parking="data.id" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="primary"
            label="OK"
            @click="showPopulation = !showPopulation"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-expansion-item>
</template>

<script>
import Vue from 'vue'
import ParkingVisits from 'components/ParkingVisits.vue'
import ParkingPopulation from 'components/ParkingPopulation.vue'

export default {
  components: {
    ParkingVisits,
    ParkingPopulation,
  },
  props: {
    parking: {
      type: Object,
      required: true,
    },
    opened: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      data: JSON.parse(JSON.stringify(this.parking)),
      deleted: false,
      newZoneInfo: null,
      showVisits: false,
      showPopulation: false,
    }
  },
  methods: {
    toggleEdit() {
      if (this.data.editing) {
        let created = false
        if (!this.data.id) {
          if (!this.data.name || this.data.name.length === 0) {
            this.$q.notify({
              type: 'negative',
              message: 'Name must be specified.',
            })
          }
          created = true
          this.data.id = this.data.name.toLowerCase().replace(' ', '_')

          this.$db.collection('ListOfParkings').doc(this.data.id).set({})
        }
        this.$q
          .dialog({
            title: created ? 'Create parking' : 'Apply Changes',
            message: created
              ? 'Do you want to create this parking spot?'
              : 'Do you want to apply changes?',
            ok: true,
            cancel: true,
          })
          .onOk(async () => {
            const parkingsRef = this.$db
              .collection('ListOfParkings')
              .doc(this.data.id)

            try {
              await parkingsRef.update({
                name: this.data.name || '',
                desc: this.data.desc || '',
                location: this.data.location || {
                  latitude: 0,
                  longitude: 0,
                },
                image: this.data.image || '',
              })

              await this.$db.deleteCollection(
                'ListOfParkings/' + this.data.id + '/UIDlistaZona'
              )

              for (const [id, z] of Object.entries(this.data.zones)) {
                await parkingsRef.collection('UIDlistaZona').doc(id).set(z)
              }

              this.$q.notify({
                type: 'positive',
                message: created
                  ? 'Created succesfully'
                  : 'Updated successfully.',
              })
            } catch (err) {
              this.$q.notify({
                type: 'negative',
                message: created ? 'Unable to create.' : 'Unable to update.',
              })
              console.error('Error creating/updating document: ', err)
            }
          })
      }

      this.data.editing = !this.data.editing
    },
    deleteParking() {
      if (this.data.id) {
        this.$q
          .dialog({
            title: 'Delete',
            message: 'Selected parking will be deleted. Are you sure?',
            ok: true,
            cancel: true,
          })
          .onOk(() => {
            const docRef = this.$db
              .collection('ListOfParkings')
              .doc(this.data.id)
            docRef
              .delete()
              .then(() => {
                this.$q.notify({
                  type: 'positive',
                  message: 'Deleted successfully.',
                })
                this.deleted = true
              })
              .catch((error) => {
                this.$q.notify({
                  type: 'negative',
                  message: 'Unable to delete.',
                })
                console.error('Error removing document: ', error)
              })
          })
      } else {
        this.deleted = true
        this.$q.notify({
          type: 'positive',
          message: 'Discarded new parking.',
        })
      }
    },
    removeZone(id) {
      Vue.delete(this.data.zones, id)
    },
    createZone() {
      this.newZoneInfo = {
        name: '',
        cost: '',
      }
    },
    finishZoneCreate() {
      Vue.set(
        this.data.zones,
        this.newZoneInfo.name.toLowerCase().replace(' ', '_'),
        this.newZoneInfo
      )
      this.newZoneInfo = null
    },
  },
}
</script>

<style lang="scss">
.parking {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 20px;
  grid-row-gap: 2vh;

  margin-top: 1vh;
  margin-bottom: 1vh;

  width: 100%;

  .actions {
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    justify-content: flex-end;

    padding-bottom: 1vh;
    border-bottom: solid 2px #e0e0e0;

    button {
      margin-right: 1vh;
    }
  }

  .image {
    grid-area: 2 / 1 / 3 / 2;

    max-width: 300px;
    max-height: 300px;

    margin-right: auto;
    margin-left: auto;
  }

  .info {
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto) 1fr repeat(3, auto);

    .name {
      grid-area: 1 / 1 / 2 / 3;
    }

    .desc {
      grid-area: 2 / 1 / 3 / 3;
    }

    .visits {
      grid-area: 5 / 1 / 6 / 3;
    }

    .population {
      grid-area: 6 / 1 / 7 / 3;
    }

    .url {
      grid-area: 7 / 1 / 8 / 3;
      display: none;
    }

    &.edit {
      .url {
        display: initial;
      }
    }
  }

  .zones {
    grid-area: 3 / 1 / 4 / 3;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(2, auto);

    border-top: solid 2px #e0e0e0;
    padding-top: 2vh;

    .q-list {
      grid-area: 1 / 1 / 2 / 4;

      .q-item {
        &:nth-last-child(n + 2) {
          border-bottom: dashed 1px #e0e0e0;
        }

        &:nth-last-child(1) {
          margin-bottom: 2vh;
        }
      }
    }

    button {
      grid-area: 2 / 2 / 3 / 3;
      margin-bottom: 2vh;
    }
  }
}
</style>
