<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar class="bg-green-4 text-white">
        <q-toolbar-title> ParkingSpotSystem </q-toolbar-title>
        <q-btn flat dense icon="home" @click="openWelcomePage" />
        <q-space />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LoginPageLayout',
  methods: {
    openWelcomePage() {
      this.$router.push('/')
    },
  },
}
</script>
