<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-green-4 text-white">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <q-btn
          v-if="loggedIn"
          dense
          icon="logout"
          aria-label="Log Out"
          @click="logOut"
        />
        <q-btn v-else dense icon="login" aria-label="Log In" @click="logIn" />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header class="text-grey-8"> Navigation </q-item-label>
        <EssentialLink v-for="link in links" :key="link.title" v-bind="link" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

import SidebarLinks from './sidebar_links'

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data() {
    return {
      leftDrawerOpen: false,
      loggedIn: false,
      links: [],
    }
  },
  beforeMount() {
    this.updateAccountInfo()
  },
  methods: {
    async updateAccountInfo() {
      this.links = SidebarLinks.forRole(await this.$user.getRole())
      this.loggedIn = this.links !== SidebarLinks.sidebar_guest
    },
    logOut() {
      this.$auth.signOut().then(() => {
        this.$router.push('/')
        this.updateAccountInfo()
      })
    },
    logIn() {
      this.$router.push('login')
    },
    home() {
      this.$router.push('/')
    },
  },
}
</script>
