<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar class="bg-green-4 text-white">
        <q-btn
          flat
          dense
          round
          icon="menu"
          arial-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title> ParkingSpotSystem </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <q-item clickable to="/parkingZone">
          <q-item-section avatar>
            <q-icon name="font_download" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Choose a parking zone</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/recension">
          <q-item-section avatar>
            <q-icon name="create" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Write a recension</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
  </q-layout>
</template>
