<template>
  <q-page class="flex flex-center">
    <h1>Counter</h1>
    <h2>Current number of free parking spots</h2>
    <p>some_random_number</p>
    <p></p>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
}
</script>
